

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-523665294300807993.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-523665294300807993.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-523665294300807993.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-523665294300807993.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-523665294300807993.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-523665294300807993.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-523665294300807993.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-523665294300807993.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-523665294300807993.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-523665294300807993.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-523665294300807993.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-523665294300807993.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-523665294300807993.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-523665294300807993.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-523665294300807993.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-523665294300807993.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-523665294300807993.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-523665294300807993.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-523665294300807993.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-523665294300807993.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-523665294300807993.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-523665294300807993.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-523665294300807993.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-523665294300807993.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-523665294300807993.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-523665294300807993.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-523665294300807993.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-523665294300807993.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-523665294300807993.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-523665294300807993.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-523665294300807993.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-523665294300807993.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-523665294300807993.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-523665294300807993.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-523665294300807993.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-523665294300807993.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-523665294300807993.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-523665294300807993.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-523665294300807993.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-523665294300807993.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-523665294300807993.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-523665294300807993.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-523665294300807993.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-523665294300807993.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-523665294300807993.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-523665294300807993.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-523665294300807993.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-523665294300807993.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-523665294300807993.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-523665294300807993.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-523665294300807993.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-523665294300807993.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-523665294300807993.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-523665294300807993.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-523665294300807993.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-523665294300807993 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-523665294300807993 .gp-relative{position:relative}.gps-523665294300807993 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-523665294300807993 .gp-mb-0{margin-bottom:0}.gps-523665294300807993 .gp-flex{display:flex}.gps-523665294300807993 .gp-grid{display:grid}.gps-523665294300807993 .\!gp-hidden{display:none!important}.gps-523665294300807993 .gp-hidden{display:none}.gps-523665294300807993 .gp-max-w-full{max-width:100%}.gps-523665294300807993 .gp-flex-col{flex-direction:column}.gps-523665294300807993 .gp-gap-y-0{row-gap:0}.gps-523665294300807993 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-523665294300807993 .gp-duration-200{transition-duration:.2s}.gps-523665294300807993 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-523665294300807993 .tablet\:\!gp-hidden{display:none!important}.gps-523665294300807993 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-523665294300807993 .mobile\:\!gp-hidden{display:none!important}.gps-523665294300807993 .mobile\:gp-hidden{display:none}}.gps-523665294300807993 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-523665294300807993 .\[\&_p\]\:gp-inline p{display:inline}.gps-523665294300807993 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-523665294300807993 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g8nwihlULL"
        style="--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8nwihlULL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_yl30HKUh gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gZFSKmIvEa"
        style="--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:0px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:520px;--w-tablet:520px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZFSKmIvEa gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2xtncGUom gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gkzjkpHqGE "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggkzjkpHqGE_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g0h4TfWjGh "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg0h4TfWjGh_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
  <gp-animation
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"zoom","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Instafeed","opacity":{"desktop":"100%"}}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents"><div style="--animation:[object Object];--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:2.624236115962029px 3.018838320891088px 4px 4px rgba(18, 18, 18, 0.7);--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object]" class="g24PTFTdeP ">
      
    <div
      
      style="--ta:center"
    >
      <div id="insta-feed"></div>
    </div>
  
      </div></div>
  </gp-animation>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-animation.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-523665294300807993 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/infant-ro/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=523664996387783481&sectionId=523665294300807993)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggkzjkpHqGE_text","label":"ggkzjkpHqGE_text","default":"Bucură-te de viață alaturi de noi..!"},{"type":"html","id":"gg0h4TfWjGh_text","label":"gg0h4TfWjGh_text","default":"<p>Te iubim! La urma urmei, tu ești motivul pentru care venim la muncă în fiecare zi. Vă mulțumim pentru tot ce ne interesează.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
